.jp-audio {
	margin: 0 auto;
	width: 100%;
}

.audio-slideshow .audio-slides img {
	width: 100%;
}

.timeline {
	position: relative;
	width: 100%;
	background-color: #ddd;
	height: 20px;
	top: 0;
	left: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.timeline .playhead {
	background: #009be3;
	position: relative;
	height: 20px;
	width: 0;
}


.container{
	width: 100%;
	position: relative;
	min-height: 750px;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.container > header{
	margin: 10px;
	padding: 20px 10px 10px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
	font-size: 40px;
	line-height: 40px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #726f66;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header h1 span{
	font-weight: 700;
}
.container > header h2{
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #6190ca;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
/* Header Style */
